In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("IT_job_scraping.csv")
df

,Unnamed: 0,Titles,Company,Experience,Salary,Location
0,0,IT Executive Jobs Opening in Gsm.pvt.ltd at As...,Gsm.pvt.ltd,0 Years,Salary not disclosed,Patna
1,1,IT Manager Jobs Opening in Ideal Career Zone a...,Ideal Career Zone,3 to 3+ Years,15000 - 16000 Monthly,Kolkata
2,2,Financial Analyst Jobs in Hyderabad - goldman ...,goldman sachs services pvt ltd,0.6 to 3 Years,400000 - 800000 Yearly,Hyderabad
3,3,IT Trainer Jobs Opening in Shryze Tech at Nung...,Shryze Tech,0 Years,Salary not disclosed,Chennai
4,4,IT Recruiter Jobs Opening in Uniquehire at Pan...,Uniquehire,0 Years,Salary not disclosed,Hyderabad
...,...,...,...,...,...,...
1655,1655,Python Trainer Jobs Opening in Udayan Care at ...,Udayan Care,1.5 Years,Salary not disclosed,Mohali
1656,1656,Site Engineer/Senior Engineer Jobs Opening in ...,GM INFINITE,1 to 2 Years,Salary not disclosed,Hyderabad
1657,1657,Creative Content Writer Jobs Opening in UNCODE...,UNCODE Inc- AJR Info Systems Pvt. Ltd.,3 to 3+ Years,4000 - 6000 Monthly,Bangalore
1658,1658,Junior Architect/Interior Designer Jobs Openin...,Colonelz Constructions Pvt. Ltd,0 Years,Salary not disclosed,Hyderabad
1659,1659,Digital Marketing Executive Jobs Opening in Ga...,Gamma Marine Pvt Ltd,0 Years,Salary not disclosed,Gurgaon

In [3]:
df.isnull().sum()

Unnamed: 0    0
Titles        0
Company       0
Experience    0
Salary        0
Location      0
dtype: int64

In [4]:
df.head(10)

,Unnamed: 0,Titles,Company,Experience,Salary,Location
0,0,IT Executive Jobs Opening in Gsm.pvt.ltd at As...,Gsm.pvt.ltd,0 Years,Salary not disclosed,Patna
1,1,IT Manager Jobs Opening in Ideal Career Zone a...,Ideal Career Zone,3 to 3+ Years,15000 - 16000 Monthly,Kolkata
2,2,Financial Analyst Jobs in Hyderabad - goldman ...,goldman sachs services pvt ltd,0.6 to 3 Years,400000 - 800000 Yearly,Hyderabad
3,3,IT Trainer Jobs Opening in Shryze Tech at Nung...,Shryze Tech,0 Years,Salary not disclosed,Chennai
4,4,IT Recruiter Jobs Opening in Uniquehire at Pan...,Uniquehire,0 Years,Salary not disclosed,Hyderabad
5,5,IT Recruiter Jobs Opening in Kanak IT Service ...,Kanak IT Service LLC,2.5 to 3+ Years,30000 - 45000 Monthly,Noida
6,6,IT Recruiter Jobs Opening in Our Business Ladd...,Our Business Ladder,2.5 to 3 Years,10000 - 15000 Monthly,Coimbatore
7,7,IT Intern Jobs Opening in Pawzz at DelhiLess,Pawzz,0 Years,Salary not disclosed,Delhi
8,8,Desktop Support Engineer Jobs in Hyderabad - F...,For a Client of Teamlease Digital,2 to 4 Years,23500 - 25000 Monthly,Hyderabad
9,9,IT Assistant Jobs Opening in Kothari Internati...,Kothari International School,0 Years,Salary not disclosed,Noida

In [5]:
df["Titles"]=df["Titles"].str.lower().str.split("jobs").str[0]
df["Titles"]=df["Titles"].str.split("R").str[0]
df["Titles"]

0                             it executive
1                               it manager
2                        financial analyst
3                               it trainer
4                             it recruiter
                       ...
1655                        python trainer
1656         site engineer/senior engineer
1657               creative content writer
1658    junior architect/interior designer
1659           digital marketing executive
Name: Titles, Length: 1660, dtype: object

In [6]:
df["Titles"]

0                             it executive
1                               it manager
2                        financial analyst
3                               it trainer
4                             it recruiter
                       ...
1655                        python trainer
1656         site engineer/senior engineer
1657               creative content writer
1658    junior architect/interior designer
1659           digital marketing executive
Name: Titles, Length: 1660, dtype: object

In [7]:
df.head(10)

,Unnamed: 0,Titles,Company,Experience,Salary,Location
0,0,it executive,Gsm.pvt.ltd,0 Years,Salary not disclosed,Patna
1,1,it manager,Ideal Career Zone,3 to 3+ Years,15000 - 16000 Monthly,Kolkata
2,2,financial analyst,goldman sachs services pvt ltd,0.6 to 3 Years,400000 - 800000 Yearly,Hyderabad
3,3,it trainer,Shryze Tech,0 Years,Salary not disclosed,Chennai
4,4,it recruiter,Uniquehire,0 Years,Salary not disclosed,Hyderabad
5,5,it recruiter,Kanak IT Service LLC,2.5 to 3+ Years,30000 - 45000 Monthly,Noida
6,6,it recruiter,Our Business Ladder,2.5 to 3 Years,10000 - 15000 Monthly,Coimbatore
7,7,it intern,Pawzz,0 Years,Salary not disclosed,Delhi
8,8,desktop support engineer,For a Client of Teamlease Digital,2 to 4 Years,23500 - 25000 Monthly,Hyderabad
9,9,it assistant,Kothari International School,0 Years,Salary not disclosed,Noida

In [8]:
df["Experience"].unique()

array(['0 Years', '3 to 3+ Years', '0.6 to 3 Years', '2.5 to 3+ Years',
       '2.5 to 3 Years', '2 to 4 Years', '0 to 3 Years', '2 to 3+ Years',
       '4 to 10 Years', '2 to 11 Years', '1 to 3 Years', '2 to 5 Years',
       '1 to 3+ Years', '0 to 5 Years', '0 to 0.6 Years', '2 to 3 Years',
       '0 to 1 Years', '3+ Years', '0.6 to 3+ Years', '0.6 to 1 Years',
       '0.6 Years', '1.5 to 3 Years', '1 to 2 Years', '0 to 2 Years',
       '1 to 2.5 Years', '1.5 to 3+ Years', '1 Years', '0 to 3+ Years',
       '0.6 to 2 Years', '2 Years', '1.5 Years'], dtype=object)

In [9]:
# Replacing specific ranges of experience with standardized values
df['Experience'] = df['Experience'].str.replace("3 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0.6 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("2.5 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("2.5 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("2 to 4 Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("2 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("4 to 10 Years", "10 Years")
df['Experience'] = df['Experience'].str.replace("2 to 11 Years", "11 Years")
df['Experience'] = df['Experience'].str.replace("1 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("2 to 5 Years", "5 Years")
df['Experience'] = df['Experience'].str.replace("1 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0 to 5 Years", "5 Years")
df['Experience'] = df['Experience'].str.replace("0 to 0.6 Years", "0.6 Years")
df['Experience'] = df['Experience'].str.replace("2 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("0 to 1 Years", "1 Years")
df['Experience'] = df['Experience'].str.replace("3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0.6 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0.6 to 1 Years", "1 Years")
df['Experience'] = df['Experience'].str.replace("0.6 Years", "1 Years")
df['Experience'] = df['Experience'].str.replace("1 to 2 Years", "2 Years")
df['Experience'] = df['Experience'].str.replace("1.5 to 3 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("0 to 2 Years", "2 Years")
df['Experience'] = df['Experience'].str.replace("1 to 2.5 Years", "3 Years")
df['Experience'] = df['Experience'].str.replace("1.5 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0 to 3+ Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("1 Years", "1 Year")
df['Experience'] = df['Experience'].str.replace("1.5 Years", "2 Years")
df['Experience'] = df['Experience'].str.replace("2 Years", "2 Years")
df['Experience'] = df['Experience'].str.replace("0.6 to 2 Years", "2 Years")
df['Experience'] = df['Experience'].str.replace("0.6 to 4 Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("1.5 to 4 Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0 to 4 Years", "4 Years")
df['Experience'] = df['Experience'].str.replace("0 Years", "Fresher")


print(df['Experience'].unique())

['Fresher' '4 Years' '3 Years' '1Fresher' '11 Year' '5 Years' '1 Year'
 '2 Years']

In [10]:
df.head(10)

,Unnamed: 0,Titles,Company,Experience,Salary,Location
0,0,it executive,Gsm.pvt.ltd,Fresher,Salary not disclosed,Patna
1,1,it manager,Ideal Career Zone,4 Years,15000 - 16000 Monthly,Kolkata
2,2,financial analyst,goldman sachs services pvt ltd,3 Years,400000 - 800000 Yearly,Hyderabad
3,3,it trainer,Shryze Tech,Fresher,Salary not disclosed,Chennai
4,4,it recruiter,Uniquehire,Fresher,Salary not disclosed,Hyderabad
5,5,it recruiter,Kanak IT Service LLC,4 Years,30000 - 45000 Monthly,Noida
6,6,it recruiter,Our Business Ladder,3 Years,10000 - 15000 Monthly,Coimbatore
7,7,it intern,Pawzz,Fresher,Salary not disclosed,Delhi
8,8,desktop support engineer,For a Client of Teamlease Digital,4 Years,23500 - 25000 Monthly,Hyderabad
9,9,it assistant,Kothari International School,Fresher,Salary not disclosed,Noida

In [11]:
blank_count1 = df['Experience'].str.match(r'^\s*$', na=False).sum()
print(blank_count1)

0

In [12]:
df["Salary"].value_counts()

Salary
25000 - 50000 Monthly    386
Salary not disclosed     269
56000 - 76000 Monthly    242
55000 - 75000 Monthly    213
50000 - 75000 Monthly    113
                        ...
16000 - 20000 Monthly      1
18000 - 24000 Monthly      1
20000 - 24000 Monthly      1
13000 - 17000 Monthly      1
20000 - 26000 Monthly      1
Name: count, Length: 128, dtype: int64

In [13]:
df['Salary']=df['Salary'].replace("Salary not disclosed",np.nan)
df.head(10)

,Unnamed: 0,Titles,Company,Experience,Salary,Location
0,0,it executive,Gsm.pvt.ltd,Fresher,NaN,Patna
1,1,it manager,Ideal Career Zone,4 Years,15000 - 16000 Monthly,Kolkata
2,2,financial analyst,goldman sachs services pvt ltd,3 Years,400000 - 800000 Yearly,Hyderabad
3,3,it trainer,Shryze Tech,Fresher,NaN,Chennai
4,4,it recruiter,Uniquehire,Fresher,NaN,Hyderabad
5,5,it recruiter,Kanak IT Service LLC,4 Years,30000 - 45000 Monthly,Noida
6,6,it recruiter,Our Business Ladder,3 Years,10000 - 15000 Monthly,Coimbatore
7,7,it intern,Pawzz,Fresher,NaN,Delhi
8,8,desktop support engineer,For a Client of Teamlease Digital,4 Years,23500 - 25000 Monthly,Hyderabad
9,9,it assistant,Kothari International School,Fresher,NaN,Noida

In [14]:
df['Salary'].value_counts()

Salary
25000 - 50000 Monthly     386
56000 - 76000 Monthly     242
55000 - 75000 Monthly     213
50000 - 75000 Monthly     113
45000 - 65000 Monthly      91
                         ...
400000 - 800000 Yearly      1
16000 - 20000 Monthly       1
18000 - 24000 Monthly       1
20000 - 24000 Monthly       1
20000 - 26000 Monthly       1
Name: count, Length: 127, dtype: int64

In [15]:
df.isnull().sum()

Unnamed: 0      0
Titles          0
Company         0
Experience      0
Salary        269
Location        0
dtype: int64

In [16]:
df.dropna(inplace=True)
df.isnull().sum()

Unnamed: 0    0
Titles        0
Company       0
Experience    0
Salary        0
Location      0
dtype: int64

In [17]:
df["Salary"].unique()

array(['15000 - 16000 Monthly', '400000 - 800000 Yearly',
       '30000 - 45000 Monthly', '10000 - 15000 Monthly',
       '23500 - 25000 Monthly', '15000 - 20000 Monthly',
       '13000 - 25000 Monthly', '38000 - 52000 Monthly',
       '15000 - 25000 Monthly', '8000 - 12000 Monthly',
       '500000 - 2000000 Yearly', '29000 - 47000 Monthly',
       '25000 - 30000 Monthly', '2000 - 15000 Monthly',
       '50000 - 400000 Yearly', '20000 - 40000 Monthly',
       '28000 - 47000 Monthly', '30000 - 361000 Yearly',
       '30000 - 40000 Monthly', '10000 - 1000000 Monthly',
       '12000 - 15000 Monthly', '12000 - 16000 Monthly',
       '25000 - 35000 Monthly', '20000 - 30000 Monthly',
       '16000 - 19000 Monthly', '10000 - 22000 Monthly',
       '80000 - 200000 Monthly', '10000 - 45000 Monthly',
       '50000 - 80000 Monthly', '5000 - 8000 Monthly',
       '15000 - 17000 Monthly', '20000 - 25000 Monthly',
       '13000 - 15000 Monthly', '15000 - 18000 Monthly',
       '10000 - 12000 Monthly', '17000 - 18000 Monthly',
       '22000 - 24000 Monthly', '18000 - 20000 Monthly',
       '55000 - 60000 Monthly', '20000 - 22000 Monthly',
       '150000 - 200000 Yearly', '8000 - 10000 Monthly',
       '15000 - 50000 Monthly', '15000 - 30000 Monthly',
       '13000 - 18000 Monthly', '7000 - 25000 Monthly',
       '17500 - 19000 Monthly', '10000 - 20000 Monthly',
       '8000 - 9000 Monthly', '24000 - 28000 Monthly',
       '20000 - 35000 Monthly', '16000 - 22000 Monthly',
       '15000 - 22000 Monthly', '15000 - 19000 Monthly',
       '12000 - 20000 Monthly', '25000 - 37500 Monthly',
       '13000 - 17000 Monthly', '20000 - 24000 Monthly',
       '30000 - 35000 Monthly', '18000 - 24000 Monthly',
       '16000 - 18000 Monthly', '5000 Monthly', '16000 - 20000 Monthly',
       '9000 - 12000 Monthly', '9000 - 10000 Monthly',
       '8000 - 15000 Monthly', '7000 - 10000 Monthly',
       '12000 - 25000 Monthly', '30000 - 50000 Monthly',
       '450000 - 870000 Yearly', '6000 - 10000 Monthly',
       '25000 - 50000 Monthly', '8000 - 20000 Monthly',
       '26000 - 30000 Monthly', '20000 - 50000 Monthly',
       '50000 - 70000 Monthly', '1000000 - 3000000 Yearly',
       '56000 - 76000 Monthly', '55000 - 75000 Monthly', '300000 Yearly',
       '32000 - 47000 Monthly', '50000 - 75000 Monthly', '15000 Monthly',
       '5000 - 15000 Monthly', '68000 - 74000 Monthly',
       '7000 - 20000 Monthly', '180000 - 240000 Yearly',
       '18000 - 30000 Monthly', '50000 - 58333 Monthly',
       '25000 - 40000 Monthly', '12000 - 35000 Monthly',
       '16000 - 30000 Monthly', '100000 - 125000 Monthly',
       '21000 - 28000 Monthly', '12000 - 14000 Monthly',
       '15000 - 22500 Monthly', '18000 - 22000 Monthly',
       '6000 - 12000 Monthly', '17500 - 25000 Monthly',
       '13000 - 30000 Monthly', '40000 Monthly', '20000 - 60000 Monthly',
       '45000 - 65000 Monthly', '25000 - 29000 Monthly',
       '400000 - 600000 Yearly', '4000 - 6000 Monthly',
       '50000 - 250000 Monthly', '3000 - 5000 Monthly', '18000 Monthly',
       '14000 - 25000 Monthly', '10000 Monthly', '14000 - 18000 Monthly',
       '45000 - 100000 Monthly', '13000 - 19000 Monthly',
       '5000 - 7500 Monthly', '50000 - 100000 Monthly',
       '20000 - 43000 Monthly', '3000 Monthly', '40000 - 80000 Monthly',
       '30000 - 70000 Monthly', '35000 - 50000 Monthly',
       '12000 - 18000 Monthly', '22000 - 35000 Monthly',
       '15000 - 23000 Monthly', '5000 - 10000 Monthly',
       '12000 - 17000 Monthly', '20000 - 26000 Monthly'], dtype=object)

In [18]:
# Split the Salary column into "Salary Min" and "Salary Max"
df["Salary"] = df['Salary'].str.split('-', expand=True)[1].str.strip()

df["Salary"]

1       16000 Monthly
2       800000 Yearly
5       45000 Monthly
6       15000 Monthly
8       25000 Monthly
            ...
1648    15000 Monthly
1652    26000 Monthly
1653             None
1654    30000 Monthly
1657     6000 Monthly
Name: Salary, Length: 1391, dtype: object

In [19]:
df["Salary"].value_counts()

Salary
50000 Monthly      391
75000 Monthly      326
76000 Monthly      242
65000 Monthly       91
15000 Monthly       52
20000 Monthly       41
18000 Monthly       32
25000 Monthly       31
12000 Monthly       25
30000 Monthly       19
47000 Monthly       12
22000 Monthly       12
35000 Monthly       11
40000 Monthly       11
10000 Monthly        9
16000 Monthly        7
19000 Monthly        6
17000 Monthly        6
9000 Monthly         4
28000 Monthly        3
24000 Monthly        3
60000 Monthly        3
8000 Monthly         2
45000 Monthly        2
52000 Monthly        2
6000 Monthly         2
3000000 Yearly       2
70000 Monthly        2
80000 Monthly        2
100000 Monthly       2
200000 Yearly        2
14000 Monthly        1
5000 Monthly         1
250000 Monthly       1
7500 Monthly         1
43000 Monthly        1
600000 Yearly        1
29000 Monthly        1
23000 Monthly        1
22500 Monthly        1
2000000 Yearly       1
125000 Monthly       1
58333 Monthly        1
240000 Yearly        1
74000 Monthly        1
1000000 Monthly      1
870000 Yearly        1
37500 Monthly        1
400000 Yearly        1
800000 Yearly        1
361000 Yearly        1
200000 Monthly       1
26000 Monthly        1
Name: count, dtype: int64

In [20]:
df["Salary"]=df["Salary"].str.replace("2000000 Yearly",str(2000000/12))
df["Salary"]=df["Salary"].str.replace("800000 Yearly",str(800000/12))
df["Salary"]=df["Salary"].str.replace("400000 Yearly",str(400000/12))
df["Salary"]=df["Salary"].str.replace("361000 Yearly",str(361000/12))
df["Salary"]=df["Salary"].str.replace("200000 Yearly",str(200000/12))

df["Salary"].unique()

array(['16000 Monthly', '66666.66666666667', '45000 Monthly',
       '15000 Monthly', '25000 Monthly', '20000 Monthly', '52000 Monthly',
       '12000 Monthly', '166666.66666666666', '47000 Monthly',
       '30000 Monthly', '33333.333333333336', '40000 Monthly',
       '30083.333333333332', '1000000 Monthly', '35000 Monthly',
       '19000 Monthly', '22000 Monthly', '200000 Monthly',
       '80000 Monthly', '8000 Monthly', '17000 Monthly', '18000 Monthly',
       '24000 Monthly', '60000 Monthly', '16666.666666666668',
       '10000 Monthly', '50000 Monthly', '9000 Monthly', '28000 Monthly',
       '37500 Monthly', None, '870000 Yearly', '70000 Monthly',
       '3000000 Yearly', '76000 Monthly', '75000 Monthly',
       '74000 Monthly', '240000 Yearly', '58333 Monthly',
       '125000 Monthly', '14000 Monthly', '22500 Monthly',
       '65000 Monthly', '29000 Monthly', '600000 Yearly', '6000 Monthly',
       '250000 Monthly', '5000 Monthly', '100000 Monthly', '7500 Monthly',
       '43000 Monthly', '23000 Monthly', '26000 Monthly'], dtype=object)

In [21]:
df["Salary"].value_counts()

Salary
50000 Monthly         391
75000 Monthly         326
76000 Monthly         242
65000 Monthly          91
15000 Monthly          52
20000 Monthly          41
18000 Monthly          32
25000 Monthly          31
12000 Monthly          25
30000 Monthly          19
47000 Monthly          12
22000 Monthly          12
35000 Monthly          11
40000 Monthly          11
10000 Monthly           9
16000 Monthly           7
19000 Monthly           6
17000 Monthly           6
9000 Monthly            4
28000 Monthly           3
24000 Monthly           3
60000 Monthly           3
8000 Monthly            2
45000 Monthly           2
52000 Monthly           2
6000 Monthly            2
3000000 Yearly          2
70000 Monthly           2
80000 Monthly           2
100000 Monthly          2
16666.666666666668      2
14000 Monthly           1
5000 Monthly            1
250000 Monthly          1
7500 Monthly            1
43000 Monthly           1
600000 Yearly           1
29000 Monthly           1
23000 Monthly           1
22500 Monthly           1
166666.66666666666      1
125000 Monthly          1
58333 Monthly           1
240000 Yearly           1
74000 Monthly           1
1000000 Monthly         1
870000 Yearly           1
37500 Monthly           1
33333.333333333336      1
66666.66666666667       1
30083.333333333332      1
200000 Monthly          1
26000 Monthly           1
Name: count, dtype: int64

In [22]:
df["Salary"]=df["Salary"].str.split(" ").str[0]

In [23]:
df["Salary"].unique()

array(['16000', '66666.66666666667', '45000', '15000', '25000', '20000',
       '52000', '12000', '166666.66666666666', '47000', '30000',
       '33333.333333333336', '40000', '30083.333333333332', '1000000',
       '35000', '19000', '22000', '200000', '80000', '8000', '17000',
       '18000', '24000', '60000', '16666.666666666668', '10000', '50000',
       '9000', '28000', '37500', None, '870000', '70000', '3000000',
       '76000', '75000', '74000', '240000', '58333', '125000', '14000',
       '22500', '65000', '29000', '600000', '6000', '250000', '5000',
       '100000', '7500', '43000', '23000', '26000'], dtype=object)

In [24]:
df["Salary"]=df["Salary"].str.split(".").str[0]

In [25]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce').astype('Int64')

In [26]:
df["Salary"].unique()

<IntegerArray>
[  16000,   66666,   45000,   15000,   25000,   20000,   52000,   12000,
  166666,   47000,   30000,   33333,   40000,   30083, 1000000,   35000,
   19000,   22000,  200000,   80000,    8000,   17000,   18000,   24000,
   60000,   16666,   10000,   50000,    9000,   28000,   37500,    <NA>,
  870000,   70000, 3000000,   76000,   75000,   74000,  240000,   58333,
  125000,   14000,   22500,   65000,   29000,  600000,    6000,  250000,
    5000,  100000,    7500,   43000,   23000,   26000]
Length: 54, dtype: Int64

In [27]:
df["Salary"].isnull().sum()

14

In [28]:
df.dropna(inplace=True)
df.isnull().sum()

Unnamed: 0    0
Titles        0
Company       0
Experience    0
Salary        0
Location      0
dtype: int64

In [29]:
df=df.drop("Unnamed: 0",axis=1)
df

,Titles,Company,Experience,Salary,Location
1,it manager,Ideal Career Zone,4 Years,16000,Kolkata
2,financial analyst,goldman sachs services pvt ltd,3 Years,66666,Hyderabad
5,it recruiter,Kanak IT Service LLC,4 Years,45000,Noida
6,it recruiter,Our Business Ladder,3 Years,15000,Coimbatore
8,desktop support engineer,For a Client of Teamlease Digital,4 Years,25000,Hyderabad
...,...,...,...,...,...
1647,business development manager,Point Perfect Technology Solutions,4 Years,40000,Tirunalveli
1648,telecaller,JOB PROVIDER CONSULTANCY,Fresher,15000,Mumbai
1652,operations executive,Medyseva Technologies,3 Years,26000,Jamnagar
1654,technical sales executive,ByteReboot Private Limited,1 Year,30000,Ahmedabad
1657,creative content writer,UNCODE Inc- AJR Info Systems Pvt. Ltd.,4 Years,6000,Bangalore

In [30]:
pd.set_option('display.max_rows', None)
df

,Titles,Company,Experience,Salary,Location
1,it manager,Ideal Career Zone,4 Years,16000,Kolkata
2,financial analyst,goldman sachs services pvt ltd,3 Years,66666,Hyderabad
5,it recruiter,Kanak IT Service LLC,4 Years,45000,Noida
6,it recruiter,Our Business Ladder,3 Years,15000,Coimbatore
8,desktop support engineer,For a Client of Teamlease Digital,4 Years,25000,Hyderabad
10,it trainer,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
13,hr recruiter - it and non it,DEWIIT INFOEDGE,3 Years,25000,Chennai
15,it software engineer,Leading Edge ExT,Fresher,52000,Mumbai
16,us it recruiter,Yuvii consultancy private limited,Fresher,25000,Ahmedabad
17,hr it recruiter,SyStos Technology,Fresher,12000,Indore
19,it software engineer,For a Client of Teamlease Digital,1Fresher,166666,Hyderabad
20,it software engineer,AMC Career,Fresher,47000,Pune
21,it software engineer,Adithya it Solution Pvt Ltd,Fresher,30000,Salem
22,it network engineer,Youtag infotag,Fresher,15000,Chennai
23,it software engineer,For a Client of Teamlease Digital,11 Year,33333,Noida
24,it sales executive,NexionPro Services,3 Years,40000,Mumbai
25,it software engineer,AMC Career,Fresher,47000,Navi Mumbai
26,it support engineers,For a Client of Teamlease Digital,5 Years,30083,Gurgaon
27,it software engineer,DSK SOFTWARE SOLUTIONS PVT.LTD,Fresher,40000,Pune
28,us it recruiter,Goodone1IT,4 Years,20000,Mumbai
29,it asset executive,For a Client of Teamlease Digital,5 Years,1000000,Hyderabad
30,us it recruiter,Stellar Professionals,1 Year,15000,Mumbai
31,it marketing executive,Panacorp Software Company,Fresher,16000,Pune
32,it recruiter / hr recruiter,Metamorf InfoTech,4 Years,35000,Hyderabad
33,computer technician/support specialist,J K S S & Associates,Fresher,25000,Bangalore
34,it application support executive,Kanha Milk Testing Equipments Pvt Ltd,3 Years,30000,Mohali
36,team member - it support,FOX Solutions Pvt Ltd,Fresher,19000,Bangalore
37,business development manager - it - b2b,MAAZ INFOTECH,3 Years,30000,Delhi
38,hr recruiter - non it - fresher,Actio,Fresher,15000,Bulandshahr
42,it sales executive inside sales,Alsiraatacars,3 Years,22000,Pune
44,account manager - it product sales,Software Company,4 Years,200000,Chennai
46,international business development - it sales,Vertoz,3 Years,45000,Delhi
47,hiring remote it sales executive for american ...,Group 8 security INC,4 Years,80000,Gurgaon
48,business development associate,DIGIT IT,Fresher,8000,Noida
49,sales associate,IT -galore,Fresher,20000,Mumbai
50,plant supervisor,Adithya it solution,Fresher,17000,Nasik
51,driver lmv,Adithya it solution,Fresher,25000,Hyderabad
52,system supervisor,Adithya it solution,Fresher,15000,Bangalore
53,network system administrator,Adithya it solution,Fresher,18000,Salem
54,data entry operator trainer,Adithya it solution,Fresher,12000,Salem
55,railway supervisor,Adithya it solution,Fresher,18000,Salem
56,collections officer,ADITHYA IT SOLUTION,Fresher,18000,Salem
57,computer operator,Adithya it solution,Fresher,15000,Salem
58,driver in salem,Adithya it solution,Fresher,18000,Salem
59,banking executive,Adithya it solution,Fresher,18000,Salem
60,system administrator in salem,Adithya it solution,Fresher,12000,Salem
61,fresh post officer male in salem,Adithya it solution,Fresher,24000,Salem
62,metro ticket issuer,Adithya it solution,Fresher,25000,Salem
64,python trainer,Adithya it solution,Fresher,25000,Salem
65,fresher medical billing,Adithya it solution,Fresher,12000,Salem
66,ccna faculty,Logix IT Solutions,1 Year,12000,Kottayam
69,sales coordinator,IT SERVE GLOBAL,4 Years,20000,Noida
70,computer hardware and network engineer,Bbg it solutions,1 Year,25000,Delhi
71,computer operator,Adithya it solution,Fresher,15000,Mumbai
72,driver in salem,Adithya it solution,Fresher,18000,Salem
73,banking executive,Adithya it solution,Fresher,18000,Salem
74,walk-in for system operator,Adithya it solution,Fresher,15000,Salem
76,software trainer,Adithya it solution,Fresher,25000,Bangalore
77,office assistant,ADITHYA IT SOLUTION,Fresher,15000,Salem
78,hiring relationship manager,ADITHYA IT SOLUTION,Fresher,18000,Salem
79,we are hiring for aided school teacher at salem,ADITHYA IT SOLUTION,Fresher,60000,Salem
80,sales coordinator,IT SERVE GLOBAL,4 Years,20000,Noida
81,computer hardware and network engineer,Bbg it solutions,1 Year,25000,Delhi
82,relationship manager in salem,Adithya it solution,Fresher,20000,Mumbai
83,graphic designer,Adithya it solution,Fresher,12000,Salem
84,experienced nurse wanted for immediate hire in...,Adithya it solution,Fresher,20000,Salem
85,fresh post officer female in salem,Adithya it solution,Fresher,22000,Salem
86,fresher medical coder,Adithya it solution,Fresher,12000,Salem
87,optometrist,Adithya it solution,Fresher,12000,Salem
89,airport ground handling staff required,ADITHYA IT SOLUTION,Fresher,25000,Bangalore
90,sales officer,ADITHYA IT SOLUTION,Fresher,15000,Salem
92,mortgage executive - lap in salem,Adithya it solution,Fresher,22000,Delhi
93,telecaller in salem,Adithya it solution,Fresher,12000,Salem
94,retail sales executive,Adithya it solution,Fresher,17000,Salem
95,marketing executive,Adithya it solution,Fresher,15000,Salem
96,lab technician,Adithya it solution,Fresher,40000,Salem
97,system admin in hospitality in salem,Adithya it solution,Fresher,12000,Salem
98,data entry operator,Adithya it solution,Fresher,18000,Salem
104,educator,Astroden,Fresher,16666,Chennai
106,seo intern,NLET-IT software company,Fresher,10000,Hyderabad
107,lead generation executive,AV IT BUSINESS SOLUTION,4 Years,50000,Jaipur
108,network engineer,SMART ENTRY IT INFRASTRUCTURE,Fresher,30000,Pune
110,driver,Adithya it Solution Pvt Ltd,Fresher,18000,Bangalore
111,administrator,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
115,sales and business development executive,MS IT & Business services,Fresher,18000,Mumbai
118,telecaller,SHRI Sohaang IT Solutions,Fresher,25000,Bangalore
119,junior accountant,Adithya it Solution Pvt Ltd,Fresher,20000,Chennai
120,cashier,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,18000,Salem
121,telemarketer,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
122,branch manager - male,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
123,junior accountant,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
124,system operator,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
125,fresher medical coder,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
126,eye test - optometrist,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
127,geographic mapper or mapping technician,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
128,sales collection executive,Adithya it Solution Pvt Ltd,Fresher,19000,Salem
130,tele calling,GNR Solutions Pvt Ltd,3 Years,20000,Pune
132,front desk associate,GNR Solutions Pvt Ltd,2 Years,20000,Pune
133,walk-in interview female - hiring for academic...,Adithya it Solution Pvt Ltd,Fresher,9000,Salem
134,assistant branch manager - male,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
135,relationship manager - rm,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
136,post office male in salem,Adithya it Solution Pvt Ltd,Fresher,28000,Salem
137,banking sales executive,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
138,system supervisor,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
140,assistant branch manager - male,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
141,relationship manager - rm,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
142,post office male in salem,Adithya it Solution Pvt Ltd,Fresher,28000,Salem
143,banking sales executive,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
144,system supervisor,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
146,full stack trainer,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
147,pumb operator,Adithya it Solution Pvt Ltd,4 Years,20000,Salem
148,atm supervisor,Adithya it Solution Pvt Ltd,Fresher,35000,Salem
149,ims - integrated management systems,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
150,artificial intelligence trainer,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
152,system engineer,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
153,video editor,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
154,junior office assistant,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
155,field marketing executive,MD IT info pvt ltd,Fresher,15000,Raipur
156,business development associate,Adithya it Solution Pvt Ltd,Fresher,9000,Salem
157,retail mortgage executive - lap,Adithya it Solution Pvt Ltd,Fresher,19000,Salem
158,finance executive,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
159,telesales executive,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
160,field sales executive,Adithya it Solution Pvt Ltd,Fresher,17000,Salem
161,nurse - female,Adithya it Solution Pvt Ltd,Fresher,40000,Salem
162,metro ticket issuer,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
163,network system administrator,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
164,fresher medical billing,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
165,airforce helper,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
166,two wheeler mechanic,Adithya it Solution Pvt Ltd,Fresher,19000,Salem
167,graphic designer,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
168,accountant,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
169,developer,Adithya it Solution Pvt Ltd,Fresher,37500,Salem
171,collection executive,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
172,marketing officer,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,17000,Salem
173,stacking assistant,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,24000,Salem
174,account executive,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,12000,Salem
175,assistant branch manager,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,35000,Salem
178,postman,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,24000,Salem
179,electrical maintenance,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
180,python developer,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
181,team leader,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
182,sales officer,Adithya it Solution Pvt Ltd,Fresher,19000,Salem
183,angular developer,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,25000,Salem
186,driver,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
187,driver,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
188,cashier,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,18000,Salem
189,branch manager,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,35000,Salem
190,data scientist,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,25000,Salem
194,direct walk-in for busisness developement asso...,Adithya it Solution Pvt Ltd,Fresher,9000,Salem
195,walk-in interview for opening for team leader ...,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
196,walk-in interview for field marketing executiv...,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
197,home loan executive,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
198,sales man,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
199,sales and marketing executive,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
200,data science trainer,Adithya it Solution Pvt Ltd,Fresher,25000,Salem
202,direct walk-in for busisness developement asso...,Adithya it Solution Pvt Ltd,Fresher,9000,Salem
203,walk-in interview for opening for team leader ...,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
204,walk-in interview for field marketing executiv...,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
205,home loan executive,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
206,sales man,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
207,sales and marketing executive,Adithya it Solution Pvt Ltd,Fresher,15000,Salem
208,system admin for hospital,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
209,driver lmv,Adithya it Solution Pvt Ltd,Fresher,18000,Salem
210,network engineer,Adithya it Solution Pvt Ltd,Fresher,30000,Salem
211,bank executive,Adithya it Solution Pvt Ltd,Fresher,22000,Salem
212,dental receptionist,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
213,key relationship manager,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
214,administrative officer,Adithya it Solution Pvt Ltd,Fresher,20000,Salem
215,bpo telecaller,Adithya it Solution Pvt Ltd,Fresher,12000,Salem
218,optometrist,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,12000,Salem
219,telecaller,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,10000,Salem
220,salesperson,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,10000,Salem
221,driver,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,18000,Salem
222,video editor,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
223,graphic designer,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
224,telemarketing executive,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,12000,Salem
226,retail marketing executive,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,17000,Salem
227,direct sales representative,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,20000,Salem
228,graphic designer,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,10000,Salem
229,relationship manager,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,20000,Salem
230,office assistant,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
231,mern stack developer,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
232,hiring marketing executive in salem,Adithya IT Solution Pvt Ltd Salem,Fresher,10000,Salem
234,female team leader,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,15000,Salem
237,looking talented skilled software trainer in s...,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,20000,Salem
238,hiring female administrator in salem,Adithya IT Solutions Pvt Ltd,Fresher,20000,Salem
239,hiring relationship manager in salem,Adithya IT Solutions Pvt Ltd,Fresher,15000,Salem
240,we are hiring data analyst in salem,Adithya IT Solutions Pvt Ltd,Fresher,30000,Salem
241,bulk hiring for ar caller,Adithya IT Solutions Pvt Ltd,Fresher,18000,Salem
242,immediate walkin drive for software tester in ...,Adithya IT Solutions Pvt Ltd,Fresher,30000,Salem
243,hiring for technical support engineer in salem,Adithya IT Solutions Pvt Ltd,Fresher,30000,Salem
245,tele caller,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,10000,Salem
246,team leader,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,25000,Salem
247,business development associate,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
248,interior designer,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,10000,Salem
249,female accountant,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,20000,Salem
250,branch relationship officer,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
251,medical biller,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,12000,Salem
252,python trainer,Adithya IT Solutions Pvt Ltd,Fresher,25000,Salem
253,ar caller,ADITHYA IT SOLUTIONS PRIVATE LTD,Fresher,15000,Salem
254,hiring female telemarketing executive in salem,Adithya IT Solutions Pvt Ltd,Fresher,12000,Salem
258,data entry operator,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
259,immediate vacancy for relationship manager pos...,ADITHYA IT SOLUTION OPC PVT LTD,Fresher,16000,Salem
261,data entry operator,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
262,immediate vacancy for relationship manager pos...,ADITHYA IT SOLUTION OPC PVT LTD,Fresher,16000,Salem
265,team leader,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,15000,Salem
266,office assistant,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,20000,Salem
267,marketing executive,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,12000,Salem
268,system administrator,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,18000,Salem
269,data entry operator,ADITHYA IT SOLUTIONS PRIVATE LTD SALEM,Fresher,18000,Salem
270,telesales executive,Sumu Global IT Services Pvt Ltd,Fresher,25000,Noida
272,field sales executive,Doon land Buildcon,Fresher,50000,Dehradun
275,urgent airport ground staff and air hostess ca...,AIR LIGHT SERVICES,Fresher,870000,Pune
276,system engineer,KR Technologies,Fresher,15000,Amritsar
277,digital marketer,Fitex Media,Fresher,10000,Chennai
278,customer support engineer,Conquer Technologies,Fresher,18000,Tiruppur
279,secretarial compliance,Hirezy HR Solutions,Fresher,50000,Mumbai
280,fresher mba graduate,Finotive Solutions,Fresher,30000,Chennai
281,hr recruiter freshers,C cube consultant,Fresher,18000,Pune
282,accountant executive,Cartunez,Fresher,20000,Chennai
283,field sales executive,Verastar Solutions Pvt Ltd,4 Years,50000,Navi Mumbai
285,accounting executive,MJ marketing consultancy,4 Years,30000,Kolkata
287,java developer,AMC Career,Fresher,47000,Pune
288,software engineer,AMC Career,Fresher,47000,Pune
289,software developer,AMC Career,Fresher,47000,Pune
291,shopify developer,610 Web Lab,4 Years,50000,Chandigarh
292,php laravel developer,Deepaul Technologies Private Limited,4 Years,70000,Mohali
296,system admin executive,White House Business Solutions Pvt Ltd,Fresher,20000,Hyderabad
299,sr. python / lead engineer - remote,Anvayainfosolutions,4 Years,3000000,Guntur
300,php programmer,A Client of Freshersworld,Fresher,50000,Kulu
301,php programmer,A Client of Freshersworld,Fresher,50000,Kaithal
302,php programmer,A Client of Freshersworld,Fresher,50000,Bhiwani
303,php programmer,A Client of Freshersworld,Fresher,50000,Kurukshetra
304,web designer,Cassius Technologies,Fresher,76000,Hubli
305,web designer,Cassius Technologies,Fresher,76000,Chikkamagaluru
306,web designer,Cassius Technologies,Fresher,76000,Sivasagar
307,web designer,Cassius Technologies,Fresher,76000,Jaisalmer
308,web designer,Cassius Technologies,Fresher,76000,Ajmer
309,web designer,Cassius Technologies,Fresher,76000,Erode
310,web designer,Cassius Technologies,Fresher,76000,Imphal
311,web designer,Client of Freshersworld,Fresher,76000,Navi Mumbai
312,web designer,Client of Freshersworld,Fresher,76000,Ahmednagar
313,web designer,Client of Freshersworld,Fresher,76000,Indore
314,web designer,Client of Freshersworld,Fresher,76000,Bhopal
315,web designer,Client of Freshersworld,Fresher,76000,Gwalior
316,web designer,Client of Freshersworld,Fresher,76000,Bhubaneswar
317,web designer,Client of Freshersworld,Fresher,76000,Salem
318,web designer,Client of Freshersworld,Fresher,76000,Mandi
320,web designer,Client of Freshersworld,Fresher,76000,Raipur
321,web designer,Client of Freshersworld,Fresher,76000,Tirupati
322,php programmer,A Client of Freshersworld,Fresher,50000,Anand
323,php programmer,A Client of Freshersworld,Fresher,50000,Junagadh
324,php programmer,A Client of Freshersworld,Fresher,50000,Ankleshwar
325,php programmer,A Client of Freshersworld,Fresher,50000,Ahmedabad
326,php programmer,A Client of Freshersworld,Fresher,50000,Surajpur
327,php programmer,A Client of Freshersworld,Fresher,50000,Narayanpur
328,java developer,Client of Freshersworld,Fresher,76000,Shillong
329,java developer,Client of Freshersworld,Fresher,76000,Hooghly
330,java developer,Client of Freshersworld,Fresher,76000,Amritsar
331,java developer,Client of Freshersworld,Fresher,76000,Rajkot
332,java developer,Client of Freshersworld,Fresher,76000,Nagpur
333,java developer,Client of Freshersworld,Fresher,76000,South Goa
334,java developer,Client of Freshersworld,Fresher,76000,Durg
335,java developer,Client of Freshersworld,Fresher,76000,Korba
336,java developer,Client of Freshersworld,Fresher,76000,Dibrugarh
337,java developer,Client of Freshersworld,Fresher,76000,Tawang
338,java developer,Client of Freshersworld,Fresher,76000,Nellore
339,java developer,Client of Freshersworld,Fresher,76000,Port Blair
340,java developer,Client of Freshersworld,Fresher,76000,Hosur
341,java developer,Client of Freshersworld,Fresher,76000,Thiruvananthapuram
342,java developer,Client of Freshersworld,Fresher,76000,Palakkad
343,java developer,Client of Freshersworld,Fresher,76000,Kottayam
344,java developer,Client of Freshersworld,Fresher,76000,Kannur
345,java developer,Client of Freshersworld,Fresher,76000,Kozhikode
346,java developer,Client of Freshersworld,Fresher,76000,Mumbai
347,php programmer,A Client of Freshersworld,Fresher,50000,Gaya

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1377 entries, 1 to 1657
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Titles      1377 non-null   object
 1   Company     1377 non-null   object
 2   Experience  1377 non-null   object
 3   Salary      1377 non-null   Int64
 4   Location    1377 non-null   object
dtypes: Int64(1), object(4)
memory usage: 65.9+ KB

In [32]:
df.to_csv("IT_job_scraping_cleaned.csv",index=False)